body{
    background-image: url(../images/concrete-texture.png);
    width: 768px;
    margin: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}